header,
header.loadme {
    position: fixed;
    top: 1em;
    bottom: 3em;
    left: 0;
    z-index: 100;
    margin-left: 0;
}

header.loadme #loader {
    display: none;
}

.loadme nav {
    display: inline;
}

#scrollwrap,
#container {
    overflow-y: auto;
    position: static;
    margin-left: 9em;
}

#scrollable {
    padding: 1em 0 3em 0;
}

#scrollable > article {
    margin-bottom: 2em;
}

#scrollable > article:last-child {
    margin-bottom: 0;
}

article.loadme {
    display: block;
}

@media (max-width: 560px), (max-height: 450px) {
    header,
    header.loadme {
        position: fixed;
        left: 50%;
        top: 0;
        margin: 0 0 0 -200px;
        width: 400px;
        height: 4.5em;
    }

    header h1 {
        float: left;
        margin: 1em 2em;
    }

    nav ul li {
        float: left;
        margin: 1em;
    }

    nav ul li a {
        padding: .5em;
    }

    #container,
    #scrollwrap,
    #scrollable {
        position: static;
        margin: 0 auto;
        width: auto;
        height: auto;
        min-width: 0;
    }

    #container {
        margin-top: 4.5em;
    }

    #scrollwrap {
        margin-top: 3.5em;
    }

    article,
    #scrollable article {
        display: block;
        margin: 2em auto;
        float: none;
    }
}

@media (max-width: 400px) {
    header {
        left: 0;
        margin: 0;
    }
}

@media (min-height: 800px) and (max-height: 1000px) {
    header,
    header.loadme {
        top: 4em;
        bottom: 7em;
    }

    #scrollable {
        padding: 4em 0 7em 0;
    }
}

@media (min-height: 1000px) {
    header,
    header.loadme {
        top: 8em;
        bottom: 14em;
    }

    #scrollable {
        padding: 8em 0 14em 0;
    }
}