@font-face {
    font-family: 'DroidSerifRegular';
    src: url('/ui/fonts/DroidSerif/DroidSerif-Regular-webfont.eot');
    src: url('/ui/fonts/DroidSerif/DroidSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/ui/fonts/DroidSerif/DroidSerif-Regular-webfont.woff') format('woff'),
         url('/ui/fonts/DroidSerif/DroidSerif-Regular-webfont.ttf') format('truetype'),
         url('/ui/fonts/DroidSerif/DroidSerif-Regular-webfont.svg#DroidSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSerifItalic';
    src: url('/ui/fonts/DroidSerif/DroidSerif-Italic-webfont.eot');
    src: url('/ui/fonts/DroidSerif/DroidSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/ui/fonts/DroidSerif/DroidSerif-Italic-webfont.woff') format('woff'),
         url('/ui/fonts/DroidSerif/DroidSerif-Italic-webfont.ttf') format('truetype'),
         url('/ui/fonts/DroidSerif/DroidSerif-Italic-webfont.svg#DroidSerifItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSerifBold';
    src: url('/ui/fonts/DroidSerif/DroidSerif-Bold-webfont.eot');
    src: url('/ui/fonts/DroidSerif/DroidSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/ui/fonts/DroidSerif/DroidSerif-Bold-webfont.woff') format('woff'),
         url('/ui/fonts/DroidSerif/DroidSerif-Bold-webfont.ttf') format('truetype'),
         url('/ui/fonts/DroidSerif/DroidSerif-Bold-webfont.svg#DroidSerifBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

*,
article p,
input,
button,
textarea {
    font-family: DroidSerifRegular, Georgia, serif;
    color: #222;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

q:before {
    content: open-quote;
}

q:after {
    content: close-quote;
}

blockquote {
    margin: 2em;
    border-color: #ddd;
}

header {
    position: fixed;
    width: 8em;
    background-color: #222;
    top: 1em;
    bottom: 3em;
    left: 4em;
    z-index: 100;
    margin-left: -4em;
}

header.loadme {
    position: fixed;
    width: 8em;
    background-color: #222;
    top: 1em;
    bottom: 3em;
    left: 50%;
    z-index: 100;
    margin-left: -4em;
}

header h1 {
    margin: 2em 0;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.2em;
}

header *,
header a,
header a:hover,
header a:active,
header a:visited,
header a:link {
    color: #eee;
    display: block;
    text-align: center;
}

header #loader {
    display: none;
}

header.loadme #loader {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -8px 0 0 -8px;
}

#dragme {
    position: absolute;
    display: none;
    margin-left: 1em;
    bottom: 0.5em;
}

header.loadme nav {
    display: none;
}

nav ul,
article nav ul {
    margin: 0;
    list-style: none;
}

#scrollwrap {
    position: absolute;
    overflow: hidden;
    top: 1em;
    bottom: 3em;
    left: 9em;
    right: 2em;
}

#scrollable {
    position: relative;
}

#container {
    margin: 1em 0 3em 9em;
    /*width: 400px;*/
}

article {
    width: 400px;
    background-color: #fff;
    margin: 0 1em;
    padding-bottom: 2em;
}

article.single {
    width: 800px;
    min-width: 400px;
}

article.loadme {
    display: none;
}

h2 {
    font-size: large;
    font-weight: normal;
    text-align: center;
    height: 8em;
    line-height: 8em;
}

h2 a {
    vertical-align: middle;
    display: inline-block;
    line-height: 1.2em;
}

h2 small {
    color: red;
    font-size: x-small;
}

h3 {
    font-size: medium;
    font-weight: normal;
    margin: 2em;
}

article a,
article a:hover,
article a:active,
article a:visited,
article a:link,
article p small {
    color: #222;
}

article p, form {
    margin: 1em 2em;
    color: #222;
    word-wrap: break-word;
    text-align: justify;
}

article p a {
    text-decoration: underline;
}

article img, article address {
    width: 100%;
    height: auto;
    margin: 1em 0;
}

article img {
    background: #fff url(/ui/img/image-loading.gif) center center no-repeat;
}

article ul {
    margin: 0 3em;
}

article li {
    list-style-type: square;
}

article nav ul {
    padding: 1em 0;
    width: 800px;
}

article nav ul li {
    list-style-type: none;
    float: left;
    display: block;
    width: 360px;
    height: 1.4em;
    padding: 0 20px;
    text-align: center;
}

article form input,
article form textarea {
    width: 100%;
    border-radius: 0;
}

address {
    background: #eee url(/ui/img/stamp_fr.png) 90% center no-repeat;
}

address div {
    padding: 2em;
}

.range,
.progress,
input[type="range"] {
    display: none;
}

.slider {
    position: absolute;
    bottom: 2em;
    left: 0;
    right: 2em;
    cursor: pointer;
    height: 1px;
    background-color: #222;
    display: none;
}

#handler {
    display: none;
}

.handle {
    background-color: #222;
    height: 10px;
    width: 8em;
    position: absolute;
    left: 0;
    top: -5px;
    display: block;
    cursor: move;
}

.alert {
    border-radius: 0;
    border: 0;
    padding: 1em 0;
}

.alert p {
    padding: 0;
    margin: 1em 2em;
}

.alert-success * {
    color: rgb(70, 136, 71);
}

.alert-info * {
    color: rgb(58, 135, 173);
}

img.lazy {
  display: none;
}

@media (min-height: 800px) and (max-height: 1000px) {
    header,
    header.loadme {
        top: 4em;
        bottom: 7em;
    }

    #scrollwrap {
        top: 4em;
        bottom: 7em;
    }

    #container {
        margin: 4em 0 7em 9em;
    }

    .slider {
        bottom: 6em;
    }
}

@media (min-height: 1000px) {
    header,
    header.loadme,
    #scrollwrap,
    article {
        top: 8em;
        bottom: 14em;
    }

    #container {
        margin: 8em 0 14em 9em;
    }

    .slider {
        bottom: 13em;
    }
}

@media (max-height: 700px) {
    article h2 {
        height: 4em;
        line-height: 4em;
    }
}

@media (max-width: 560px), (max-height: 450px) {
    header,
    header.loadme {
        position: fixed;
        left: 50%;
        top: 0;
        margin: 0 0 0 -200px;
        width: 400px;
        height: 4.5em;
    }

    header img {
        display: none;
    }

    header h1 {
        float: left;
        margin: 1em 2em;
    }

    .loadme nav {
        display: inline;
    }

    header nav ul li {
        float: left;
        margin: 1em;
    }

    header nav ul li a {
        padding: .5em;
    }

    #container,
    #scrollwrap,
    #scrollable {
        position: static;
        margin: 0 auto;
        width: auto;
        height: auto;
        min-width: 0;
    }

    #container {
        margin-top: 6.5em;
    }

    #scrollwrap {
        margin-top: 4.5em;
    }

    article {
        margin: 2em auto;
        float: none;
    }

    article div[id] {
        padding-top: 4em;
    }
}

@media (min-width: 800px) and (max-height: 450px) {
    header.loadme {
        width: 600px;
        margin: 0 0 0 -300px;
    }
}

@media (min-width: 1000px) and (max-height: 450px) {
    header.loadme {
        width: 800px;
        margin: 0 0 0 -400px;
    }
}

@media (max-width: 1000px) {
    article.single,
    article nav ul {
        width: 600px;
    }

    article nav ul li {
        width: 260px;
    }
}

@media (max-width: 800px) {
    article.single,
    article nav ul {
        width: 400px;
    }

    article nav ul li {
        width: 160px;
    }
}

@media (max-width: 400px) {
    header,
    header.loadme {
        left: 200px;
        margin: 0 0 0 -200px;
    }
}
