[submodule "vendor/Twig"]
	path = vendor/Twig
	url = git://github.com/fabpot/Twig.git
[submodule "vendor/monolog"]
	path = vendor/monolog
	url = git://github.com/Seldaek/monolog.git
[submodule "vendor/Smak"]
	path = vendor/Smak
	url = git@github.com:eexit/Smak.git
[submodule "vendor/Symfony/src/Symfony/Component/Validator"]
	path = vendor/Symfony/src/Symfony/Component/Validator
	url = git://github.com/symfony/Validator.git
