{# about.twig #}
{% extends 'layout.twig' %}
{% block title %}about{% endblock %}
{% block content %}
    <div class="row">
        <h1 id="about" title="Read a bit about myself!">About</h1>
        <div class="span10 columns">
            <p class="c"><img src="./img/about_id.jpg" alt="Joris Berthelot" title="blah! that's me!" width="600" height="200" /></p>
            <p class="float_right"><a href="http://www.canon.fr/For_Home/Product_Finder/Cameras/Digital_Camera/IXUS/Digital_IXUS_50/index.asp" class="light"><img src="/img/canon_ixus_50.jpg" alt="Canon Digital Ixus 50 camera" width="150" height="113" /></a></p>
            <p>
                I started shooting in '04 (I think) with a very old Nikon my mother bought but I never took the time to make artistic shots with it.
                Used just for fun and recording sport videos with my bro'.
            </p>
            <p>
                I really got introduced within the art side of photography in 2006 when my girlfriend offered me a camera which was
                a <a href="http://www.canon.fr/For_Home/Product_Finder/Cameras/Digital_Camera/IXUS/Digital_IXUS_50/index.asp" class="ext">Canon Digital Ixus 50</a>.
                Wow! I got my very first camera and I could now shoot whatever and whenever I wanted...
                <br />Almost all my <a href="/photography/oldish.html">oldish collection</a> was shooted with this camera! Yea, true story!
            </p>
            <p class="float_left"><a href="http://www.canon.fr/For_Home/Product_Finder/Cameras/Digital_SLR/EOS_450D/" class="light"><img src="/img/canon_eos_450d.jpg" alt="Canon EOS 450D camera" width="150" height="113" /></a></p>
            <p>
                Since August '10, I have a <a href="http://www.canon.fr/For_Home/Product_Finder/Cameras/Digital_SLR/EOS_450D/" class="ext">Canon EOS 450D</a> following to my Ixus steal,
                I had to have a new one and why not a <abbr title="Digital Single Lens Reflex">DSLR</abbr> camera?
                <br />I broke my money-box and bought this awesome camera.
            </p>
            <p>
                I'm not came to grips with it again but I slowly and wisely improve my
                skills with a such camera. In it gallery, you could find some shots I took with but nothing
                extraordinary since I haven't so much time to shoot and with years, I become more and more
                demanding then I don't dare to publish...
            </p>
        </div>
        <div class="span6 columns">
            <h2 id="tools">Cameras &amp; accessories</h2>
            <ul>
                <li><a href="http://www.canon.fr/For_Home/Product_Finder/Cameras/Digital_SLR/EOS_450D/" class="ext">Canon 450D</a></li>
                <li><a href="http://www.canon.fr/For_Home/Product_Finder/Cameras/EF_Lenses/Standard_Zoom/EF-S_18-55mm_f3.5-5.6_IS/" class="ext">Canon EF-S 18-55mm f/3.5-5.6 IS</a></li>
                <li><a href="http://www.canon.fr/For_Home/Product_Finder/Cameras/EF_Lenses/Standard_and_Medium_Telephoto/EF_50mm_f1.4_USM/" class="ext">Canon EF 50mm f/1.4 USM + Hood</a></li>
                <li><a href="http://www.hama.de/portal/articleId*37264/action*2563" class="ext">Hama Polarising Filter Circular</a></li>
                <li><a href="http://www.zykkor-usa.com/lenses/0-45x-wide-angle-52mm-lens-with-macro-in-black-color.html" class="ext">Zikkor 0.45x Wide Angle Lens + Macro</a></li>
                <li>Lense filter ring adapter 52 to 58mm</li>
                <li>UV Filter</li>
                <li><del>Canon EF 35-80mm f/4-5.6 USM</del></li>
                <li><del>Canon EF 80-200mm f/4.5-5.6 II</del></li>
                <li><del>Canon Digital Ixus 50</del></li>
                <li><del>Nikon Coolpix 2000</del></li>
            </ul>
        </div>
    </div>
{% endblock %}