{# about.html.twig #}
{% extends '_layout.html.twig' %}
{% set title = 'About' %}
{% block content %}
    <div id="container">
        <article>
            <h2 id="about" title="Read a bit about myself!"><a href="{{ app.domain }}/about.html">About</a></h2>
            <img src="{{ app.domain }}/img/about_id.jpg" title="Often behind the lense..." alt="Photography of Joris Berthelot" width="400" height="279" />
            <p>Not really considering myself as an artist, I mostly grew up outdoor (yep, I'm fully organic haha!) and got sensibilized to the nature beauty. Fortunately, my eye surgery didn't affect my vision of everyday charm and harmony.</p>
            <p>Neither hipped photographer nor a professional, I mostly shoot for fun and sharing good quality pictures with anybody who wants to... If you feel adventurous, don't hesitate to <a href="{{ app.domain }}/contact.html" title="let's make some great photos!">contact me</a> for a shooting session.</p>
            <p>Sunset lover, I usually grab my camera to catch up some good light from my office or on weekends, this is likely my little pleasure =).</p>
            <p>This portfolio has some very old shots I did with my old <a href="http://www.canon.fr/For_Home/Product_Finder/Cameras/Digital_Camera/IXUS/Digital_IXUS_50/index.asp">Canon Digital Ixus 50</a> and more recents shots are made with a <a href="http://www.canon.fr/For_Home/Product_Finder/Cameras/Digital_SLR/EOS_450D/">Canon EOS 450D</a> which is my current camera.</p>
            <p>You could also find most recent and wider selection of my work on <a href="http://500px.com/eexit" ref="me">500px</a>.</p>
            <h2 id="tools"><a href="#tools">Cameras &amp; accessories</a></h2>
            <ul>
                <li><a href="http://www.canon.fr/For_Home/Product_Finder/Cameras/Digital_SLR/EOS_450D/">Canon 450D</a></li>
                <li><a href="http://www.canon.fr/For_Home/Product_Finder/Cameras/EF_Lenses/EF-S/EF-S_18-55mm_f3.5-5.6_IS_II/">Canon EF-S 18-55mm f/3.5-5.6 IS</a></li>
                <li><a href="http://www.canon.fr/For_Home/Product_Finder/Cameras/EF_Lenses/Standard_and_Medium_Telephoto/EF_50mm_f1.4_USM/">Canon EF 50mm f/1.4 USM + Hood</a></li>
                <li><a href="http://www.hama.de/portal/articleId*37264/action*2563">Hama Polarising Filter Circular</a></li>
                <li><a href="http://www.neewer.com/60cm-22-5-in-1-light-multi-photo-collapsible-reflector.html">Neewer 60cm 22" 5-1 Light Reflector</a></li>
                <li><del>Canon EF 35-80mm f/4-5.6 USM</del></li>
                <li><del>Canon EF 80-200mm f/4.5-5.6 II</del></li>
                <li><del>Canon Digital Ixus 50</del></li>
                <li><del>Nikon Coolpix 2000</del></li>
            </ul>
            <h3 id="credits"><a href="#credits">Credits</a></h3>
            <p><small>Photo by <a href="http://www.eiiko.com/Porfolio/">Baptiste Bianciot</a>.
                <br>Design inspired from Cargo Collective <a href="http://cargocollective.com/nonfeed">nonfeed</a> design.
                <br>Porfolio <a href="http://blog.eexit.net/2011/05/php-projet-silex-presentation-pre-requis-et-architecture.html">self-cooked</a> with <a href="http://silex.sensiolabs.org">Silex</a> and <a href="https://github.com/eexit/Smak">Smak</a> (<a href="https://github.com/eexit/Portfolio">sources</a>).
            </small></p>
            <p><small>Updated on {{ last_mod }}.</small></p>
        </article>
    </div>
{% endblock %}