{# gallery.html.twig #}
{% extends 'layout.twig' %}
{% block title %}{{ set.formatted_name|title }}{% endblock %}
{% block header_class %}class="loadme"{% endblock %}
{% block content %}
<div id="container">
    {% include set.view %}
</div>
{% endblock %}