{# index.twig #}
{% extends 'layout.twig' %}
{% block title %}Stream{% endblock %}
{% block header_class %}class="loadme"{% endblock %}
{% block content %}
<div id="scrollwrap">
    <div id="scrollable">
        {% for set in sets %}
           {% include set.view ignore missing %}
        {% endfor %}
    </div>
</div>
<input id="handler" type="range" max="0" step="20" />
<script type="text/javascript">var build = true;</script>
{% endblock %}