{# index.html.twig #}
{% extends '_layout.html.twig' %}
{% set title = 'Stream' %}
{% set header_attr = ' class="loadme"' %}
{% block content %}
    <div id="scrollwrap">
        <div id="scrollable">
            {% for set in sets %}
               {% include set.helpers.twig_subpath with { 'standalone': false } %}
            {% endfor %}
        </div>
    </div>
    <input id="handler" type="range" max="0" step="20" />
{% endblock %}