{# layout.twig #}
<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <meta charset="utf-8">
        <title>Portfolio</title>
        <meta name="author" content="">
        <meta name="description" content="">
        <link rel="shortcut icon" href="">
        <link rel="stylesheet" href="" type="text/css" media="screen">
        <link rel="stylesheet" href="" type="text/css" media="handheld">
    </head>
    <body>
        <header>
            <a href="/"><img src="" width="" height="" alt="logo" /></a>
            <nav>
                <ul>
                    <li><a href="http://www.eexit.net">eexit.net</a></li>
                    <li><a href="/about.html" rel="me">About</a></li>
                    <li><a href="/contact.html">Contact</a></li>
                </ul>
            </nav>
        </header>
        {% block body %}{% endblock %}
        <footer>
        </footer>
    </body>
</html>