{# model.html.twig #}
{% extends 'frontend/_gallery_layout.html.twig' %}
{% set title = 'Set title' %}
{% block intro %}
    {{ macros.banner('banner_pic_name', _context, 'title', 'alt') }}
    <p>Introduction text</p>
{% endblock %}
{% block body %}
    <h3>Title</h3>
    <p>Comment</p>
    {{ macros.img(set.getByName('foo'), _context, 'title', 'alt') }}
{% endblock %}
